<!--<main>-->
<!--  &lt;!&ndash; Menu Section &ndash;&gt;-->
<!--  <div class="menu">-->
<!--    <div class="doc-btn" style="margin-left: 70px; display: flex; align-items: center; justify-content: center">-->
<!--&lt;!&ndash;      <button (click)="saveDocument()">Save Document</button>&ndash;&gt;-->
<!--      <input type="checkbox" id="checkbox" />-->
<!--      <label for="checkbox" style="margin: 0 0 0 3px">Бланк</label>-->
<!--    </div>-->
<!--    <select class="doc-btn" name="" id=""></select>-->
<!--  </div>-->

  <!-- Document Viewer Component -->
  <app-docx-viewer></app-docx-viewer>


<!--  &lt;!&ndash; File Upload and Save Section &ndash;&gt;-->

<!--  &lt;!&ndash; File Viewer (iframe) &ndash;&gt;-->
<!--  <div *ngIf="fileUrl">-->
<!--    <iframe [src]="fileUrl" width="100%" height="600px" frameborder="0"></iframe>-->
<!--  </div>-->

<!--  &lt;!&ndash; Loading Indicator &ndash;&gt;-->
<!--  <div *ngIf="!fileUrl && !editorData">-->

<!--  </div>-->
<!--</main>-->
